@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 248, 250, 252;
  --background-start-rgb: 2, 6, 23; /* Slate 950 */
  --background-end-rgb: 15, 23, 42; /* Slate 900 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Utility for highlight text */
.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-brand to-cyan-200;
}